<div id="formulario-crear-usuario">
    <form name="usuario" action="/usuario/crear" method="POST">

        <div class="mb-3">
            <label for="email" class="form-label">Direccion de mail</label>
            <input type="text" class="form-control" name="email">
        </div>

        <div class="mb-3">
            <label for="pass" class="form-label">Password</label>
            <input type="text" class="form-control" name="pass">
        </div>
      <!--  <button type="submit" class="btn btn-primary">Guardar</button>-->

    <div class="mb-3">
            <label for="nombre" class="form-label">Nombre</label>
            <input type="text" class="form-control" name="nombre">
        </div>

        <div class="mb-3">
            <label for="apellido" class="form-label">Apellido</label>
            <input type="text" class="form-control" name="apellido">
        </div>

        <button type="submit" class="btn btn-primary">Guardar</button>

    </form>
</div>